# Folder/Credentials

.idea
__pycache__/
log/
node_modules
.env
stuff/micro

# Script
test.py
shut.sh
see.sh
update.sh

# Else
cred.txt
temp_hum.txt
asair-dht20.pdf
log_system.txt
refactor.txt
lid-status.txt
hatching_date.txt
last_egg_rotation.txt
lid_status.txt
set_temp.txt
error.log
hatching_status.txt
/test
/stats