# Folder/Credentials

.idea
__pycache__/
log/
node_modules
.env
stuff/micro

# Script
test.py
shut.sh
see.sh
update.sh

# Else
cred.txt
temp_hum.txt
asair-dht20.pdf
log_system.txt
refactor.txt
lid-status.txt
