<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#303841" id="meta-theme">
    <meta name="keywords" content="Csibekeltető, szakdolgozat, raspberry-pi, android">
    
    <title>{{ title }}</title>

	<link rel="icon" href="../static/images/favicon.png" id="icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer async type="module"></script>
    <script src="{{ url_for('static', filename='js/utils.mjs') }}" defer async type="module"></script>

</head>

<body>
    <header class="header">
        <h2>{{ header }}</h2>
    </header>
    
    <main>
        <div class="led-wrapper">
            <div class="item turn-on-off-red-led">
                <h3>Red LED</h3>
                <label class="toggle-switch">
                    <input type="checkbox" id="checkbox-on-off-red-led">
                    <div class="toggle-switch-background">
                        <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
            <div class="item turn-on-off-green-led">
                <h3>Green LED</h3>
                <label class="toggle-switch">
                    <input type="checkbox" id="checkbox-on-off-green-led">
                    <div class="toggle-switch-background">
                        <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
			<div class="item turn-on-off-white-led">
				<h3>White LED</h3>
				<label class="toggle-switch">
					<input type="checkbox" id="checkbox-on-off-white-led">
					<div class="toggle-switch-background">
						<div class="toggle-switch-handle"></div>
					</div>
				</label>
			</div>
			<div class="item turn-on-off-orange-led">
				<h3>Orange LED</h3>
				<label class="toggle-switch">
					<input type="checkbox" id="checkbox-on-off-orange-led">
					<div class="toggle-switch-background">
						<div class="toggle-switch-handle"></div>
					</div>
				</label>
			</div>
			<div class="item turn-on-off-yellow-led">
				<h3>Yellow LED</h3>
				<label class="toggle-switch">
					<input type="checkbox" id="checkbox-on-off-yellow-led">
					<div class="toggle-switch-background">
						<div class="toggle-switch-handle"></div>
					</div>
				</label>
			</div>
			<div class="item turn-on-off-purple-led">
				<h3>Purple LED</h3>
				<label class="toggle-switch">
					<input type="checkbox" id="checkbox-on-off-purple-led">
					<div class="toggle-switch-background">
						<div class="toggle-switch-handle"></div>
					</div>
				</label>
			</div>
            <div class="item turn-on-off-blue-led">
                <h3>Blue LED</h3>
                <label class="toggle-switch">
                    <input type="checkbox" id="checkbox-on-off-blue-led">
                    <div class="toggle-switch-background">
                        <div class="toggle-switch-handle"></div>
                    </div>
                </label>
            </div>
			
        </div>
        <div class="info-wrapper">
            <div class="item info">
                <h3>Temperature: <span id="temp"></span></h3>
                <h3>Humidity: <span id="hum"></span></h3>
				<h3>Lid is: <span id="lid"></span></h3>
            </div>
        </div>

        <div class="other-wrapper">
			
            <div class="cooler-wrapper">
                <div class="item cooler">
                    <h3>Cooler:</h3>
                    <label class="toggle-switch">
                        <input type="checkbox" id="checkbox-on-off-cooler">
                        <div class="toggle-switch-background">
                            <div class="toggle-switch-handle"></div>
                        </div>
                    </label>
                </div>
            </div>

            <div class="heating-element-wrapper">
                <div class="item heating-element">
                    <h3>Heating Element:</h3>
                    <label class="toggle-switch">
                        <input type="checkbox" id="checkbox-on-off-heating-element">
                        <div class="toggle-switch-background">
                            <div class="toggle-switch-handle"></div>
                        </div>
                    </label>
                </div>
            </div>
			
			<div class="dc-motor-forward-wrapper">
				<div class="item dc-motor-forward">
					<h3>DC Motor forward:</h3>
					<label class="toggle-switch">
						<input type="checkbox" id="checkbox-on-off-dc-motor-forward">
						<div class="toggle-switch-background">
							<div class="toggle-switch-handle"></div>
						</div>
					</label>
				</div>
			</div>
			
			<div class="dc-motor-backward-wrapper">
				<div class="item dc-motor-backward">
					<h3>DC Motor backward:</h3>
					<label class="toggle-switch">
						<input type="checkbox" id="checkbox-on-off-dc-motor-backward">
						<div class="toggle-switch-background">
							<div class="toggle-switch-handle"></div>
						</div>
					</label>
				</div>
			</div>
			
			<div class="humidifier-wrapper">
				<div class="item humidifier">
					<h3>Humidifier:</h3>
					<label class="toggle-switch">
						<input type="checkbox" id="checkbox-on-off-humidifier">
						<div class="toggle-switch-background">
							<div class="toggle-switch-handle"></div>
						</div>
					</label>
				</div>
			</div>
        </div>

        <div class="endpoints-wrapper">
            <div class="item endpoints">
                <h3 id="h3-endpoints">API Endpoints</h3>
                <button id="btn-endpoints">See</button>
                <div id="div-endpoints"></div>
            </div>
        </div>

    </main>

    <footer class="footer">
        <div class="shutdown">
            <button id="btn-shutdown">
                <img src="../static/images/shutdown.png" alt="shutdown icon" id="img-shutdown"/>
            </button>
        </div>
        <span>{{ version }}</span>
    </footer>

</body>
</html>
